
  <div class="form-group">
    <label for="email">Dirección*:</label>
    <input type="email" class="form-control" id="txtDireccion"/>
  </div>
  <div class="form-group">
    <label for="pwd">Codigo Postal*:</label>
    <input type="text" class="form-control" id="txtCodigoPostal" NgModel="curp" />
    <button  class="btn btn-success" id="btnCP">Validar CP</button>
  </div>
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <div class="form-group">
    <label for="pwd">Num Ext o Mz*:</label>
    <input type="text" class="form-control" id="txtNumExt"/>
  </div>
    <div class="form-group">
    <label for="pwd">Municipio*:</label>
    <input type="text" class="form-control" id="txtMunicipio"/>
  </div>
         <div class="form-group">
    <label for="pwd">Colonia*:</label>
    <select class="form-control" id="txtColonia">
    <option>Seleccione su colonia </option>
    </select>
    </div>
    </div>
    <div class="col col-lg-4">
       <div class="form-group">
    <label for="pwd">Num. Int o Lt*:</label>
    <input type="text" class="form-control" id="txtNumInt"/>
  </div>
    <div class="form-group">
    <label for="pwd">Ciudad*:</label>
    <input type="text" class="form-control" id="txtCiudad"/>
  </div>
    </div>
    <div class="col col-lg-4">
        <div class="form-group">
    <label for="pwd">Estado*:</label>
    <input type="text" class="form-control" id="txtEstado"/>
  </div>
        <div class="form-group">
    <label for="pwd">País*:</label>
    <input type="text" class="form-control" id="txtPais"/>
    </div>

  </div>
  </div>



  <button type="button" class="btn btn-primary">Submit</button>
