<br/>
<br/>
<h2>Datos personales</h2>
<br/>
  <div class="col-9">
  <div class="form-group">
  <label>CURP*:</label><br/>
  <input type="text" class="form-control" id="txtCurp" />
  </div>
  <button class="btn btn-primary" id="validarCurp"> Validar Curp</button>
  </div>
    <br/>
  <br/>
<div class="row">
    <div class="col-sm">
          <div class="form-group">
  <label>Nombre*:</label><br/>
  <input type="text" class="form-control" id="txtNombre"/>
  </div>
  <div class="form-group">
  <label>Fecha de nacimiento*:</label><br/>
  <input type="text" class="form-control" id="txtFechaN"/>
  </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
  <label>Apellido paterno*:</label><br/>
  <input type="text" class="form-control" id="txtApellidoP"/>
   <div class="form-group">
  <label>Estado civil*:</label><br/>
  <select class="form-control">
    <option>Selecciona una opción</option>
  </select>
  </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
  <label>Apellido materno*:</label><br/>
  <input type="text" class="form-control" id="txtApellidoM"/>
  </div>
 
     <label>Sexo*:</label><br/>
     <div class="form-check form-check-inline">
    <label class="form-check-label"><input type="radio" class="form-check-input" name="sexo" id="rSexo1" value="1"/> Masculino </label>
    </div>
     <div class="form-check form-check-inline">
    <label class="form-check-label"><input type="radio" class="form-check-input" name="sexo" id="rSexo2" value="2"/> Femenino </label>
    </div>
    </div>
  </div>
  <button id="btnGuardaDatosP" class="btn btn-primary">Guardar   </button>
